<div class="floating-button">
      <div class="speed-dial">
         <button pButton type="button" class="rounded-pill"
            label="Califícanos"  (click)="toggleMenu()"> 
            <img *ngIf="checked" src="assets/logo.png" style="width: 2rem"/>
        </button> 
        <div class="menu" [class.open]="isMenuOpen">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center">
             <fa-icon [icon]="faFaceFrown" [style]="{color: '#C0392B'}" size="lg"></fa-icon>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center">
           <fa-icon [icon]="faFaceMeh" [style]="{color: '#F4D03F'}" size="lg"></fa-icon>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center">
           <fa-icon [icon]="faFaceLaugh" [style]="{color: '#2ECC71'}" size="lg"></fa-icon>
        </div>
        </div>
      </div>
        </div>
      </div>
  </div>

  


  

  
