<div class="container-fluid">
    <div class="row" style="height: 95vh; ">
      <div class="col-8 " >
        <div class="d-flex justify-content-center align-items-center">
            <img src="/assets/logo.png" width="100px">
        </div>
        <video muted #video  autoplay="true" preload="auto" loop="true" width="100%" height="auto" >
            <source src="assets/video/1.mp4" type="video/mp4" />
         </video>
      </div>
      <div class="col-4 " >
        <div style="height: 100vh; ">
                <div class="card flex justify-content-center">
                    <div class="card">
                        <p-table [value]="realTimeData" >
                            <ng-template pTemplate="header" >
                                <tr>
                                    <th style="font-size: 2rem;" class="text-center">Turno</th>
                                    <th style="font-size: 2rem;" class="text-center">Escritorio</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-realTimeData>
                                <tr>
                                    <td style="font-size: 2rem;"  class="text-center">{{ realTimeData.numeroTicket }}</td>
                                    <td style="font-size: 2rem;"  class="text-center">{{ realTimeData.idEscritorio }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
        </div>
      </div>
    </div>
     <div class="row bg-dark" style="height: 5vh;">
      <h5 class="text-center text-white">PGR 2023</h5>
    </div> 


</div>
