<div class="" style="background-color: #fff">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-xl-8">
        <div class="videoWrapper">
          <video
            [muted]="true"
            style="object-fit: fill; height: 100vh;"
            #video
            autoplay
            playsinline
            [src]="currentVideo"
            (ended)="onVideoEnded()"
            (error)="onVideoError()"
            id="myVideo"
          ></video>
        </div>
    </div>

    <div class="col-12 col-xl-4" style="height: 100%">
      <div >
        <div class="">
          <div class="ticket w-100 mt-4">
            <div class="stub">
              <div class="title top  text-center"></div>
              <div *ngIf="turnoActual; else elseBlock" class="number">
                {{ turnoActual.noEscritorio }}
              </div>
              <ng-template  #elseBlock><span class="number">NA</span></ng-template>
              <div class="title text-center">Escritorio</div>
            </div>
            <div class="check w-100 align-items-center">
              <div class="title mb-2">Último Turno</div>
              <div *ngIf="turnoActual" class="big">
                {{ turnoActual.numeroTicket }}
              </div>
          
              <div class="info">
                <section>
                  <div class="title">Fecha</div>
                  <div>{{ datePipe.transform(currentDateTime, 'dd/MM/yyyy')}}</div>
                </section>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <p-table [value]="realTimeData" [rows]="4" [paginator]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th  class="titulo-tabla text-center">Turno</th>
                  <th  class="titulo-tabla text-center">Escritorio</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-realTimeData>
                <tr>
                  <td  class="titulo-tabla text-center">
                    {{ realTimeData.numeroTicket }}
                  </td>
                  <td  class="titulo-tabla text-center">
                    {{ realTimeData.noEscritorio }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
            <div class="esquina-inferior-derecha  mt-2">
              <span class="h5 font-weight-bold text-900 title-fecha">{{ datePipe.transform(currentDateTime, 'dd/MM/yyyy HH:mm')}}</span>
              <p *ngIf="ultimoLlamado">{{ultimoLlamado.numeroTicket}}</p>
            </div>
      </div>
    </div>
  </div>
  <!--
    <div class="row" style="height: 10vh">
    <div class="text-center d-flex align-items-end justify-content-end">
        <img src="/assets/logo.png" width="80px"/>
      <span class="h6">{{ datePipe.transform(currentDateTime, 'dd/MM/yyyy HH:mm')}}</span>
    </div>
  </div> -->
</div>
