
.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-item {
    flex: 1;
    max-width: 30%;
    
    text-align: center;
  }
  
  .footer-item h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }


  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#B19233;;
  background:#2F3B59;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:25px;
  font-weight: 400;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}




/*TICKET ACTUAL*/

.ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 10px auto;
}
.ticket .stub,
.ticket .check {
  box-sizing: border-box;
}
.stub {
  background: #121427;
  height: 250px;
  width: 200px;
  color: white;
  padding: 20px;
  position: relative;
}
.stub:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 20px solid #121427;
  border-left: 20px solid #121427;
  width: 0;
}
.stub:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid #121427;
  border-left: 20px solid #121427;
  width: 0;
}
.stub .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;

}
.stub .top .line {
  display: block;
  background: #fff;
  height: 40px;
  width: 3px;
  margin: 0 20px;
}
.stub .top .num {
  font-size: 10px;
}
.stub .top .num span {
  color: #000;
}
.stub .number {
  text-align: center;
  font-size: 60px;
}
.stub .title {
  font-size: 30px;
  font-weight: 300;
  line-height: .8em;
  color: white;
}

.check {
  background: #fff;
  height: 250px;
  width: 450px;
  padding: 40px;
  position: relative;
 
}
.check:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 20px solid #121427;
  border-right: 20px solid #fff;
  width: 0;
}
.check:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 20px solid #121427;
  border-right: 20px solid #fff;
  width: 0;
}
.check .big {
  font-size: 60px;
  font-weight: 900;
  line-height: .8em;
}
.check .title {
  font-size: 30px;
  font-weight: 300;
  line-height: .8em;
}
.check .number {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #121427;
  font-size: 40px;
}
.check .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 12px;
  margin-top: 20px;
  width: 100%;
}

.check .info section:before {
  content: '';
  background: #121427;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
}
.check .info section .title {
  font-size: 10px;
  text-transform: uppercase;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.esquina-inferior-derecha {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px; 
}

.title-fecha{
  font-size: 30px;
  font-weight: 300;
  line-height: .8em;
}

.pointer:hover{
    cursor: pointer;
}

.titulo-tabla{
  font-size: 3rem;
  font-weight: bold;
}


@media screen and (min-width: 2000) and (max-width: 2500) {
  .check .big {
    font-size: 120px;
    font-weight: 900;
    line-height: .8em;
  }
  .titulo-tabla{
    font-size: 5rem
  }
  .stub .title {
    font-size: 30px;
    font-weight: 300;
    line-height: .8em;
    color: white;
  }
  .check .title {
    font-size: 30px;
    font-weight: 300;
    line-height: .8em;
  }
  .title-fecha{
    font-size: 40px;
    font-weight: 300;
    line-height: .8em;
  }
}

@media screen and (min-width: 2501px) and (max-width: 4000px) {
  .check .big {
    font-size: 150px;
    font-weight: 900;
    line-height: .8em;
  }
  .titulo-tabla{
    font-size: 5rem
  }

  .stub {
    background: #121427;
    height: 350px;
    width: 300px;
    color: white;
    padding: 20px;
    position: relative;
  }

  .stub .number {
    text-align: center;
    font-size: 100px;
  }
  .stub .title {
    font-size: 40px;
    font-weight: 300;
    line-height: .8em;
    color: white;
  }

  .check {
    background: #fff;
    height: 350px;
    width: 450px;
    padding: 40px;
    position: relative;
   
  }
  .check .title {
    font-size: 40px;
    font-weight: 300;
    line-height: .8em;
  }
  .title-fecha{
    font-size: 40px;
    font-weight: 300;
    line-height: .8em;
  }
}




  