
  <p-toast></p-toast>
<div class="modal-header">
    <h3 class="modal-title primary" id="modal-basic-title">Tranferir</h3>
    <button pButton pRipple type="button" icon="pi pi-times" (click)="close()" class="p-button-rounded p-button-secondary p-button-text"></button>
  </div>
  <div class="modal-body">
    <section class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="ticket w-100">
                    <div class="stub">
                      <div class="title top mt-2">Ticket</div>
                      <div class="number">
                        {{ data?.idEscritorio }}
                      </div>
                      <div class="title text-center">Escritorio</div>
                    </div>
                    <div class="check w-100 align-items-center">
                      <div class="title mb-2">Turno</div>
                 
                      <div *ngIf="data?.numeroTicket" class="big">
                       {{ data?.numeroTicket }}
                      </div>
                      <span class="mt-2">
                          Fecha Llamada: {{ datePipe.transform(data?.fechaLlamada, 'dd/MM/yyyy HH:mm')}}<br>
                      </span>
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <div *ngIf="unidadActual">Unidad actual del ticket: <b>{{unidadActual.nombreSimple}}</b></div>
                <hr>
                <p>Seleccione la unidad que desea transferir:</p>
                <p-dropdown [options]="unidades" [(ngModel)]="selectedUnidad" optionLabel="nombreSimple" optionValue="codigoUnidades"></p-dropdown>
            </div>
        </div>
    </section>
    </div>

<div class="modal-footer">
        <button pButton pRipple type="button" label="Cancelar" (click)="close()" class="p-button p-button-secondary me-2"></button>
        <button  pButton pRipple type="button" label="Guardar" (click)="guardar()" class="p-button p-button-success"></button>
</div>