<div class="contenedor-principal">
   <!-- Spinner Inicio -->
   <div *ngIf="loading" class="overlay">
    <p-progressSpinner
      styleClass="w-4rem h-4rem"
      strokeWidth="8"
      fill="var(--surface-ground)"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>
  <!-- Spinner Fin -->
  <p-toast></p-toast>

  <div class="contenido">
  <div *ngIf="unidades.length==0">
    <h3 class="text-center ">¡Error, no se pudo obtener la información!</h3>
  </div>
  <section class="service-section">
    <div class="container mt-3">
      <div class="row">
        <div
        *ngFor="let item of unidades" class="col-lg-4 col-md-6 col-sm-6 col-6"
        >
          <div class="single-service Unidad text-center" (click)="mostrarDialog(item.codigoUnidades,item.nombreSimple)">
            <div class="wrap-icon icon-1">
               <img src="assets/familia.png">
                
              </div>   
              <h3>{{item.nombreSimple}}</h3>
          </div> 
          
         
        </div>
      </div>
    </div>
  </section>
</div>

<div class="card flex justify-content-center">
  <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '75vw',height: 'auto'}">
      <ng-template pTemplate="header">
          <span class="text-lg fw-bold">Tipo de Fila</span>
          <span>Unidad Seleccionada: <span class="text-lg fw-bold">{{selectedNombreSimple}}</span></span>
      </ng-template>
      <form [formGroup]="formGroup">
        <div class="flex flex-column">
          <p-selectButton  [options]="filas" formControlName="idFila" [multiple]="false" optionLabel="nombreFila" optionValue="idFila"></p-selectButton>
        </div>  
      </form>
      <ng-template pTemplate="footer">
          <p-button icon="pi pi-times" (click)="visible = false" label="Cancelar" styleClass="p-button-text"></p-button>
          <p-button label="Primary" (click)="CrearTicketTipoFila()" label="Crear Ticket" styleClass="p-button-raised"></p-button>
      </ng-template>
  </p-dialog>
</div>

<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4 ">
        <p-button *ngFor="let item of Links" [icon]="item.icon"  (onClick)="openLink(item.link)" styleClass="p-button-rounded p-button-secondary me-2"></p-button>
    </section>
    <!-- Section: Social media -->
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 PGR Copyright 
  </div>
</footer>


