<p-toast></p-toast>
<div class="modal-header">
  <h3 class="modal-title primary" id="modal-basic-title">Programando Indisponibilidad</h3>
  <button pButton pRipple type="button" icon="pi pi-times" (click)="close()" class="p-button-rounded p-button-secondary p-button-text"></button>
</div>
<div class="modal-body">
<p-tabView [(activeIndex)]="activeIndex">
  <p-tabPanel header="Programar">
    <div class="d-flex align-items-end justify-content-end my-2">
      <button pButton pRipple type="button" icon="pi pi-plus" label="Programar Nuevo" (click)="crearNuevo()" class="p-button-rounded p-button-secondary p-button-text"></button>
    </div>
    <section class="container-fluid">
      
      <div class="row">
          <div class="col-12">
              <form [formGroup]="disponibilidadForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="fecha">Fecha Inicio:</label><br>
                    <p-calendar id="fecha"  styleClass="w-100" [minDate]="minDate" [showIcon]="true" formControlName="FechaInicio"></p-calendar>
                </div>
                  <div
                    *ngIf="
                      disponibilidadForm.controls['FechaInicio'].invalid &&
                      (disponibilidadForm.controls['FechaInicio'].dirty ||
                        disponibilidadForm.controls['FechaInicio'].touched)
                    "
                    class="text-danger mt-3"
                  >
                    <div *ngIf="disponibilidadForm.controls['FechaInicio'].errors">
                      Este Campo es obligatorio
                    </div>
                  </div>
                  
                  <label for="hora">Hora No Disponible:</label><br>
                  <p-inputNumber id="hora" styleClass="w-100"  class="w-100" mode="decimal" formControlName="HorasNoDisponible">
                  </p-inputNumber>

                  <div
                    *ngIf="
                      disponibilidadForm.controls['HorasNoDisponible'].invalid &&
                      (disponibilidadForm.controls['HorasNoDisponible'].dirty ||
                        disponibilidadForm.controls['HorasNoDisponible'].touched)
                    "
                    class="text-danger mt-3"
                  >
                    <div *ngIf="disponibilidadForm.controls['HorasNoDisponible'].errors">
                      Este Campo es obligatorio
                    </div>
                  </div>
                  <span class="d-block text-left my-4 text-muted text-center"
                    >&mdash; Complete la información &mdash;</span
                  >
                  <button
                    pButton
                    label="{{banderaAccion==0?'Programar Nuevo':'Modificar Actual'}}"
                    class="w-100 btn btn-primary"
                    [disabled]="disponibilidadForm.invalid"
                    [loading]="loading"
                    type="submit"
                  ></button>
                </form>
          </div>
      </div>
  </section>
  </p-tabPanel>
  <p-tabPanel header="Ver Programados">
    <p-table
    [value]="Programados"
    selectionMode="single"
    [rows]="10"
    [loading]="loading"
  [paginator]="true"
    [(selection)]="selectedProgramados"
    dataKey="idProgramarIndiponibilidad"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Fecha Inicio</th>
        <th>Horas No Disponible</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr [pSelectableRow]="data">
        <td>{{ data.idProgramarIndiponibilidad }}</td>
         <td>{{ datePipe.transform(data.fechaInicio, 'dd/MM/yyyy') }}</td> 
         <td>{{data.horasNoDisponible}}</td> 
         <td>
          <!-- <p-button icon="pi pi-trash" styleClass="p-button-text p-button-danger" severity="danger" (click)="borrarProgramado(data)"></p-button> -->
          <p-button icon="pi pi-pencil" styleClass="p-button-text p-button-info" (click)="modificarProgramado(data)"></p-button>
         </td> 
      </tr>
    </ng-template>
  </p-table>
  </p-tabPanel>
</p-tabView>
</div>



